<!DOCTYPE html>
<html>
<title>Login</title>
<link rel="stylesheet" href="../static/css/loginn.css">

<head>
</head>

<body>
    <center>
        <h1>CONTACT US</h1>
    </center>
    <div>
        <form action="/home" method="post">
            <label><b>NAME:</b></label>
            <input type="text" name="name">
            <br><br><br>
            <label><b>MAIL:</b></label>
            <input type="email" name="mail">
            <br><br><br>
            <label><b>CLASS:</b></label>
            <input type="text" name="Class">
            <br><br><br>
            <LABEL><b>ENQUIRY:</b></LABEL>
            <textarea>write here</textarea> 
            <br><br><br>
            <center>
                <input type="submit">
            </center>
        
        </form>
    </div>
</body>
</html>