<!DOCTYPE html>
<html>
<head>
<title>Result Portal</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>

<body background="../static/img/third.jpg">
    <header>
        <img src="../static/img/logo.jpg" width = 10% height =10%>
        <div class = "head-tag">
            
            <a href="login">ADMIN LOGIN</a>
            <a href="">STUDENT LOGIN</a>
            <a href="aboutus">ABOUT US</a>
            <a href="contactus">CONTACT US</a>
        </div>

    </header>
<h1><center>WELCOME TO STUDENT RESULT MANAGMENT SYSTEM</center></h1>
<marquee width="60%" direction="left" height="100px"><h4>
    Current Site is Under Maintainence.So Admin can only Login.Student Facility will Be Available Soon!!!!!</h4>
</marque>
</body>
</html>