<!DOCTYPE html>
<html>

<head>
<title>RESULT MANAGMENT</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>

<body background="../static/img/third.jpg">
    <header>
        <img src="../static/img/logo3.jpg" width = 20% height =20%>
        <div class = "head-tag">
            <a href="search">SEARCH</a>
            <a href="view">VIEW TOTAL RESULT</a>
            <a href="add">ADD STUDENT</a>
            <a href="login">LOGOUT</a>
        </div>

    </header>
<h1>WELCOME OVERALL RESULT PORTAL</h1>

</body>
</html>