<!DOCTYPE html>
<html>
<title>Login</title>
<link rel="stylesheet" href="../static/css/loginn.css">
<head>
</head>
<body><center>
    <h1>Login</h1></center>
    <div>
    <form action="/home" method="post">
        <label><b>USERNAME:</b></label>
        <input type="text" name="username">
        <br><br><br>
        <label><b>PASSWORD:</b></label>
        <input type="password" name="password">
        <br><br><br>
        <center>
        <input type="submit"></center>
        {{msg}}
    </form>
    </div>
</body>
</html>